<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="e8WA0xc4_f57hKZBCIhOBrVMQhWVTgCLDry1AY_Ga-w">
	<meta name="keywords" content="学堂在线, 在线学堂, XuetangX, Edx, edX, MOOC, 清华, 北大, MIT, Tsinghua, University, College, TsinghuaX, PekingX, MITx, 在线教育, 大规模开放式在线课程, 在线学习, 网络公开课，教育云，互联网教育">
	<meta name="description" content="#">
	<meta name="renderer" content="webkit">
    <meta property="qc:admins" content="27433770036055416706375">
    <meta name="apple-itunes-app" content="app-id=911639256, app-argument=https://itunes.apple.com/cn/app/xue-tang-zai-xian-guan-fang/id911639256?mt=8">

	
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	

	
	<title>学堂在线-最大的中文慕课(MOOC)平台</title>
	

	<link rel="icon" type="image/x-icon" href="/index.php">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/media.css">


	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/js/html5shiv.0ce8f355891c.js"></script>
	<![endif]-->
</head>

<body class="">
	
		



<header class="ng-scope" id="header_bootstrap">
	<div id="py_header_data" class="hide" data-ajax="/header_ajax" data-blurajax="/check_register_params" data-loginsubmit="/v2/login_ajax" data-emailregistersubmit="/v2/create_account" data-phoneregistersubmit="/create_account_with_phone" data-phonecode="/phone/validate" data-code=""></div>
	<div class="ng-scope" ng-controller="headerAjaxCtrl">
		<div class="header_top">
			<div class="header_up">
				<div class="header_up_inner cf">
					<div class="header_up_left fl cf">
						<nav class="fl">
						</nav>
					</div>

					<div class="header_up_right fr">
						<div class="app_download cf fl" id="app_download">
							<ol class="ol cf">
								<li class="li_ios fl">
									<div class="li_inner_ios">
										<div class="app_alert_ios">
											<div class="ios_download"><a class="fl" href="/index.php">前往下载页面</a></div>
											<div class="ios_ewm_hd"><img src="__PUBLIC__/img/ios_ewm.png"></div>
										</div>
									</div>
								</li>
								<li class="li_android fl">
									<div class="li_inner_android">
										<div class="app_alert_android">
											<div class="android_download"><a class="fl" href="/index.php">前往下载页面</a></div>
											<div class="an_ewm_hd"><img src="__PUBLIC__/img/an_ewm.png"></div>
										</div>
									</div>
								</li>
							</ol>
						</div>
						<nav class="fr">
						</nav>
					</div>
				</div>
			</div>

			<div class="header wrap cf">
				<div class="left fl cf">
					<h1 class="fl"><a href="/index.php" title="学堂在线"><img src="__PUBLIC__/img/logo.png" alt="logo" title="学堂在线"></a></h1>
					<nav class="fl">
						<ul class="cf">
							<li><a href="/index.php/home/courses" title="课程">课程</a></li>
							<li><a href="/index.php/home/partners" title="院校">院校</a></li>
                           <li><a href="/index.php/home/community" title="广场">广场</a></li>
                            <li><a href="/index.php/home/cloud" title="学堂云">学堂云</a></li>
						</ul>
					</nav>
				</div>
				<div class="right fr">
					<!-- ngIf: loginAbout --><nav class="cf fr ng-scope" ng-if="loginAbout">
						<!-- 登录后 -->
						<!-- ngIf: loginAbout.login --><ul class="cf post_login ng-scope" ng-if="loginAbout.login">
							<li class="mycourse post_login_list"><a href="/index.php/home/dashboard" title="我的课程">我的课程</a></li>
							<li class="touxiang post_login_list" drop-down="" ng-mouseover="dropDown()" ng-mouseout="dropUp()">
                            <a href="/index.php/home/dashboard" ng-href="/dashboard"><img class="touxiang_img" src="__PUBLIC__/img/40.jpg"></a>
								<div class="bubble_dropdown ng-hide" ng-show="bubbleDropDownList">
									<span class="bubble_shape"></span>
									<div class="bubble_inner">
										<p><a href="/index.php/home/dashboard" ng-href="/dashboard" title="我的主页"><span>g</span>我的主页</a></p>
										<p><a href="/index.php/home/dashboard/messages" ng-href="/dashboard/messages" title="消息中心"><span>c</span>消息中心</a></p>
										<p><a href="/index.php/home/index/logout" ng-href="/logout" title="退出"><span>a</span>退出</a></p>
									</div>
								</div>
							</li>
                            <li class="bell post_login_list">
                                <a href="/index.php/home/dashboard/messages" ng-click="loginAbout.notification.system.unread = 0" class="name" ng-href="/dashboard/messages" title="我的消息">
                                    <img class="bell_img" src="__PUBLIC__/img/bell.png">
                                    <span class="new_message ng-hide" ng-show="loginAbout.notification.system.unread"></span>
                                </a>
                            </li>
						</ul><!-- end ngIf: loginAbout.login -->
						<!-- ngIf: !loginAbout.login -->
					</nav><!-- end ngIf: loginAbout -->
                    <!-- ngIf: !loginAbout -->
				</div>
			</div>
		</div>
		<div class="mobile_header">
			<a href="/index.php"><img class="logo fl" src="__PUBLIC__/img/logo.png" alt="logo" title="学堂在线"></a>
			<ul class="cf fr">
				<li><a href="/index.php/home/dashboard/mobile" title="" target="_blank"><img src="__PUBLIC__/img/1.png" alt="" title=""></a></li>
				<li><a href="/index.php/home/dashboard/courses" title="课程"><img src="%__PUBLIC__/img/2.png" alt="课程" title="课程"></a></li>
				<li><a href="/index.php/home/dashboard/partners" title="院校"><img src="__PUBLIC__/img/3.png" alt="院校" title="院校"></a></li>
				<li><a href="/index.php/home/dashboard/community" title="广场"><img src="__PUBLIC__/img/4.png" alt="广场" title="广场"></a></li>
					<li><a href="/index.php/home/dashboard" title="我的课程"><img src="__PUBLIC__/img/5.png" alt="我的课程" title="我的课程"></a></li>
			</ul>
		</div>
	</div>
</header>

	

	




<section class="retrieve_pwd_container">
    <div class="wrap">
           
        <div class="retrieve_pwd_tip purple_container">




			<!--////////////////// 设置邮箱密码 //////////////////-->
			<if condition="$lt['email_password']=='' ">
					<div>
            <div class="retrieve_pwd_title cf">
                <span class="fl">l</span>
                <h3 class="fl">设置新密码</h3>
            </div>
            <div class="retrieve_main">
                <form class="ui form pt20 pb50" id="reset_pwd_form" action="/tp3.2/index.php/Home/Dashboard/email_add_pwd" method="post">
                    <div class="field">
                        <label>设置新密码</label>
                        <input name="email_password1" placeholder="设置新密码" type="password">
                    </div>
                    <div class="field">
                        <label>再填一次确认</label>
                        <input name="email_password2" placeholder="再填一次确认" type="password">
                    </div>
                        <input name="noemail" value="1" type="hidden">
                    <div class="field error_msg" id="error_msg">
                    </div>
                    <input name="csrfmiddlewaretoken" value="i4yiNtiBFueGdFvd4dBcuPHPFVJgj7XY" type="hidden">
                    <div class="field">
                        <input type="submit" class="ui button purple"  value="提交"></input>
                    </div>
                </form>
            	</div>
			</div>
		<else/>
						<div>
			<div class="retrieve_pwd_title cf">
                <span class="fl">l</span>
                <h3 class="fl">设置新邮箱</h3>
            </div>
            <div class="retrieve_main">
                <form class="ui form pt20 pb50" id="reset_pwd_form" action="/tp3.2/index.php/Home/Dashboard/email_add_email" method="post">
                    <div class="field">
                        <label>设置新邮箱</label>
                        <input name="email" placeholder="设置新邮箱" type="email">
                    </div>
                    <div class="field">
                        <label>再填一次确认</label>
                        <input name="email2" placeholder="再填一次确认" type="email">
                    </div>
                    <div class="field error_msg" id="error_msg">
                    </div>
                    <input name="csrfmiddlewaretoken" value="i4yiNtiBFueGdFvd4dBcuPHPFVJgj7XY" type="hidden">
                    <div class="field">
                        <input type="submit" class="ui button purple"  value="提交"></input>
                    </div>
                </form>
				</div>
			</div>
		</if>
				<!-- /////////////////////////-->


<script>
	


</script>












                <script defer="defer" async="" src="__PUBLIC__/js/hm.js"></script><script type="text/javascript">
                    var oForm = document.getElementById('reset_pwd_form');
                    var aInput = oForm.getElementsByTagName('input');
                    var oMsg = document.getElementById('error_msg');

                    oForm.onsubmit = function() {
                        if (aInput[0].value !== aInput[1].value) {
                            oMsg.innerHTML = '两次输入的密码不一致！';
                            return false;
                        } else if (aInput[0].value.length < 2) {
                            oMsg.innerHTML = '密码最少2个字符！';
                            return false;
                        } else if (aInput[0].value.length > 18) {
                            oMsg.innerHTML = '密码最长18个字符！';
                            return false;
                        }
                    };
                </script>
            </div>
    </div>
</div></section>



	
		


<footer>
    <div class="copyright">
        <div class="text fl">
            <p>Copyright  2013-2014 北京八维研修学院</p>
            <p><a href="http://www.miibeian.gov.cn/" title="京ICP备14019655号" target="_blank">京ICP备111111111号</a></p>
        </div>
        <div class="edx_logo cf fr">
            <a href="http://openedx.org/" target="_blank"><img src="__PUBLIC__/img/edx_logo.png"></a>
        </div>
    </div>
</footer>

	

    <script id="requirejs" src="__PUBLIC__/js/require.js"></script>
    <script src="__PUBLIC__/js/appCommon.js"></script>
    <script src="__PUBLIC__/js/xuetanganalyse.js"></script>
	 <script src="__PUBLIC__/js/homepage.js"></script> 
    <script type="text/javascript">
        var editorConfig = window.UEDITOR_CONFIG;
        if (editorConfig) {
            editorConfig.UEDITOR_HOME_URL = '/static/js/plugin/ueditor/';
            editorConfig.serverUrl = '/editor/controller/';
        }
    </script>
	


</body></html>