<html xmlns:wb="http://open.weibo.com/wb"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="e8WA0xc4_f57hKZBCIhOBrVMQhWVTgCLDry1AY_Ga-w">
	<meta name="keywords" content="学堂在线, 在线学堂, XuetangX, Edx, edX, MOOC, 清华, 北大, MIT, Tsinghua, University, College, TsinghuaX, PekingX, MITx, 在线教育, 大规模开放式在线课程, 在线学习, 网络公开课，教育云，互联网教育">
	<meta name="description" content="学堂在线是免费公开的MOOC（大规模开放在线课程）平台，是国家教育部MOOC研究中心官方合作平台，致力于通过来自国内外一流名校开设的免费网络学习课程，为公众提供系统的高等教育，让每一个中国人都有机会享受优质教育资源。通过和清华大学在线教育研究中心、以及国内外知名大学的紧密合作，学堂在线将不断增加课程的种类和丰富程度。">
	<meta name="renderer" content="webkit">
    <meta property="qc:admins" content="27433770036055416706375">
    <meta name="apple-itunes-app" content="app-id=911639256, app-argument=https://itunes.apple.com/cn/app/xue-tang-zai-xian-guan-fang/id911639256?mt=8">

	
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	

	
	<title>学堂在线-最大的中文慕课(MOOC)平台</title>
	

	<link rel="icon" type="image/x-icon" href="/index.php/static/images/favicon.e0c76d09021e.ico">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/media.css">

	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/js/html5shiv.0ce8f355891c.js"></script>
	<![endif]-->
</head>

<body class="">
	
		



<header class="ng-scope" id="header_bootstrap">
	<div id="py_header_data" class="hide" data-ajax="/header_ajax" data-blurajax="/check_register_params" data-loginsubmit="/v2/login_ajax" data-emailregistersubmit="/v2/create_account" data-phoneregistersubmit="/create_account_with_phone" data-phonecode="/phone/validate" data-code=""></div>
	<div class="ng-scope" ng-controller="headerAjaxCtrl">
		<div class="header_top">
			<div class="header_up">
				<div class="header_up_inner cf">
					<div class="header_up_left fl cf">
						<nav class="fl">
						</nav>
					</div>

					<div class="header_up_right fr">
						<div class="app_download cf fl" id="app_download">
							<ol class="ol cf">
								<li class="li_ios fl">
									<div class="li_inner_ios">
										<div style="display: none;" class="app_alert_ios">
											<div class="ios_download"><a class="fl" href="/index.php/home/index/download/ios">前往下载页面</a></div>
											<div class="ios_ewm_hd"><img src="__PUBLIC__/img/ios_ewm.png"></div>
										</div>
									</div>
								</li>
								<li class="li_android fl">
									<div class="li_inner_android">
										<div class="app_alert_android">
											<div class="android_download"><a class="fl" href="/index.php/home/index/download/android">前往下载页面</a></div>
											<div class="an_ewm_hd"><img src="__PUBLIC__/img/an_ewm.png"></div>
										</div>
									</div>
								</li>
							</ol>
						</div>
						<nav class="fr">

						</nav>
					</div>
				</div>
			</div>

			<div class="header wrap cf">
				<div class="left fl cf">
					<h1 class="fl"><a href="/index.php/" title="学堂在线"><img src="__PUBLIC__/img/logo.png" alt="logo" title="学堂在线"></a></h1>
					<nav class="fl">
						<ul class="cf">
							<li><a href="/index.php/home/courses" title="课程">课程</a></li>
							<li><a href="/index.php/home/partners" title="院校">院校</a></li>
                           <li><a href="/index.php/home/community" title="广场">广场</a></li>
                            <li><a href="/index.php/home/cloud" title="学堂云">学堂云</a></li>
						</ul>
					</nav>
				</div>
				<div class="right fr">
					<!-- ngIf: loginAbout --><nav class="cf fr ng-scope" ng-if="loginAbout">
						<!-- 登录后 -->
						<!-- ngIf: loginAbout.login --><ul class="cf post_login ng-scope" ng-if="loginAbout.login">
							<li class="mycourse post_login_list"><a href="/index.php/home/dashboard" title="我的课程">我的课程</a></li>
							<li class="touxiang post_login_list" drop-down="" ng-mouseover="dropDown()" ng-mouseout="dropUp()">
                            <a href="/index.php/home/dashboard" ng-href="/dashboard"><img class="touxiang_img" src="__PUBLIC__/img/40.jpg"></a>
								<div class="bubble_dropdown ng-hide" ng-show="bubbleDropDownList">
									<span class="bubble_shape"></span>
									<div class="bubble_inner">
										<p><a href="/index.php/home/dashboard" ng-href="/dashboard" title="我的主页"><span>g</span>我的主页</a></p>
										<p><a href="/index.php/home/dashboard/messages" ng-href="/dashboard/messages" title="消息中心"><span>c</span>消息中心</a></p>
										<p><a href="/index.php/home/index/logout" ng-href="/logout" title="退出"><span>a</span>退出</a></p>
									</div>
								</div>
							</li>
                            <li class="bell post_login_list">
                                <a href="/index.php/home/dashboard/messages" ng-click="loginAbout.notification.system.unread = 0" class="name" ng-href="/dashboard/messages" title="我的消息">
                                    <img class="bell_img" src="__PUBLIC__/img/bell.png">
                                    <span class="new_message ng-hide" ng-show="loginAbout.notification.system.unread"></span>
                                </a>
                            </li>
						</ul><!-- end ngIf: loginAbout.login -->
						<!-- ngIf: !loginAbout.login -->
					</nav><!-- end ngIf: loginAbout -->
                    <!-- ngIf: !loginAbout -->
				</div>
			</div>
		</div>
		<div class="mobile_header">
			<a href="/index.php/"><img class="logo fl" src="__PUBLIC__/img/logo.png" alt="logo" title="学堂在线"></a>
			<ul class="cf fr">
				<li><a href="/index.php/home/mobile" title="" target="_blank"><img src="__PUBLIC__/img/1.png" alt="" title=""></a></li>
				<li><a href="/index.php/home/courses" title="课程"><img src="__PUBLIC__/img/2.png" alt="课程" title="课程"></a></li>
				<li><a href="/index.php/home/partners" title="院校"><img src="__PUBLIC__/img/3.png" alt="院校" title="院校"></a></li>
				<li><a href="/index.php/home/community" title="广场"><img src="__PUBLIC__/img/4.png" alt="广场" title="广场"></a></li>
					<li><a href="/index.php/home/dashboard" title="我的课程"><img src="__PUBLIC__/img/5.png" alt="我的课程" title="我的课程"></a></li>
			</ul>
		</div>
	</div>
</header>

	

	



<script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
<section class="retrieve_pwd_container ng-scope" id="angular_bootstrap">
    <div class="wrap ng-scope" ng-controller="ctrl">
        <div class="retrieve_pwd_tip purple_container">
            <div class="retrieve_pwd_title cf">
                <span class="fl">l</span>
                <h3 class="fl">绑定手机号</h3>
            </div>
            <div class="retrieve_main">
                <div class="pt20">
                    <form class="ui form" action="__APP__/Home/dashboard/bound_phone" method="post">
                        <div class="field robot ng-hide" >
                            
                            <input class="ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="8"  placeholder="重试次数过多，请填写下图的验证码" type="text">
                            <div class="error_msg mb5 ng-hide" >
                                <span class="error ng-binding"></span>
                            </div>
                        </div>
                        <div class="field">
                            <label>您的手机号码</label>
                            <input class="" name="phone_number" placeholder="请填写11位手机号码"  maxlength="11" type="text" id="phonenum" onblur="checkphone()">
                        </div>
						<div>
                                <input type="button" disabled id="yzm" onclick="return time(this)" value="获取验证码"><span id="by">
                            </div>
						<script type="text/javascript">
							//手机号码验证
							function checkphone(){
								phone=$("#phonenum").val();
								var r_tel=/^1[3,5,8]\d{9}$/;
								if(phone==""){
									alert("手机号码不能为空");
									return false;
								}else if(r_tel.test(phone)){
									$("#yzm").attr("disabled",false);
								}else{
									alert("请输入正确的手机号");
								}
							}
							wait=60
							function time(o){
								phone=$("#phonenum").val();
								o.setAttribute("disabled", true);
								$.ajax({
									url:"__APP__/Home/dashboard/dx",
									type:"post",
									data:{"phone":phone},
									success:function(e){
										if(e==0){
											alert("验证码发送失败！请联系客服人员");
										}else{
											$("#by").html("<font color='#999' size='2'>校验码已发送，请注意查收短信</font>");
										}
									}
								});
								o.value="重新发送(" + wait + "s)";
								wait--;
								 setTimeout(function() {
								  timeout(wait)
								 },
								 1000)
							}
							document.getElementById("yzm").onclick=function(){time(this);}
							function timeout(wait){
							 var	o=document.getElementById("yzm");
							 if (wait == 0) {
							  o.removeAttribute("disabled");          
							  o.value="重新获取验证码";
							  wait = 30;
							 } else {
							  o.setAttribute("disabled", true);
							  o.value="重新发送(" + wait + "s)";
							  wait--;
							  setTimeout(function() {
							  timeout(wait)
							  },
							  1000)
							 }
							}
							</script>
                        <div class="field">
                            <label>手机收到的验证码</label>
                            <input class="ng-pristine ng-untouched ng-valid" name="validate" placeholder="请填写手机验证码" type="text">
                        </div>
                        <div class="field error_msg ng-binding">
                            
                        </div>
                        <div class="field">
                            <button class="ui button purple" type="submit">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="js_xy_select_retrievePwd"></div>



	
		


<footer>
    <div class="copyright">
        <div class="text fl">
            <p>Copyright  2013-2014 北京八维研修学院</p>
            <p><a href="http://www.miibeian.gov.cn/" title="京ICP备14019655号" target="_blank">京ICP备111111111号</a></p>
        </div>
        <div class="edx_logo cf fr">
            <a href="http://openedx.org/" target="_blank"><img src="__PUBLIC__/img/edx_logo.png"></a>
        </div>
    </div>
</footer>

	

    <script defer="defer" async="" src="__PUBLIC__/swf/hm.txt"></script><script id="requirejs" src="__PUBLIC__/js/require.js"></script>
    <script src="__PUBLIC__/js/appCommon.js"></script>
    <script src="__PUBLIC__/js/xuetanganalyse.js"></script>
	 <script src="__PUBLIC__/js/index.js"></script> 
    <script type="text/javascript">
        var editorConfig = window.UEDITOR_CONFIG;
        if (editorConfig) {
            editorConfig.UEDITOR_HOME_URL = '/static/js/plugin/ueditor/';
            editorConfig.serverUrl = '/editor/controller/';
        }
    </script>
	


</body></html>