<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="zh-cn"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="zh-cn"><![endif]-->
<!--[if gt IE 9]><!--><html lang="zh-cn"><!--<![endif]-->

<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">











    

  
      <title>
       学堂在线--课程信息
      </title>
  

  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>

  <script type="text/javascript" src="/jsi18n/"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/user_track_norequire.js"></script>
  <link rel="icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />

  
  

    <link href="__PUBLIC__/css/lms-style-vendor.css" rel="stylesheet" type="text/css" />



  
  

    <link href="__PUBLIC__/css/lms-style-app.css" rel="stylesheet" type="text/css" />



  
  

    <link href="__PUBLIC__/css/lms-style-app-extend1.css" rel="stylesheet" type="text/css" />



  
  

    <link href="__PUBLIC__/css/lms-style-app-extend2.css" rel="stylesheet" type="text/css" />




    
    <script type="text/javascript" src="__PUBLIC__/js/lms-main_vendor.js" charset="utf-8"></script>



  <script>
    window.baseUrl = "__PUBLIC__/";
    (function (require) {
        var urlArgs = "v=555ca34";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/require-config-lms.js"></script>

  

  

    <link href="__PUBLIC__/css/lms-style-course-vendor.css" rel="stylesheet" type="text/css" />




  

    <link href="__PUBLIC__/css/lms-style-course.css" rel="stylesheet" type="text/css" />






  

    


<link rel="stylesheet" href="__PUBLIC__/css/tu-identity.css" />
<link href="http://s.xuetangx.com/resource/css/googlefonts.css" rel='stylesheet' type='text/css'>
<div id="ieversion"></div>
<div id="ie-banner"></div>

  <div id="tu-header">
    <div class="tu-container">
    </div>
  </div>



  <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.0ce8f355891c.js"></script>
  <![endif]-->

  
  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy segment.io -->


  <meta name="path_prefix" content="">

  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy segment.io -->



<style type="text/css">
	#pages{font-size:150%;margin-left:100px;}
	#pages a{margin-left:20px;}
</style>
</head>

<body class="ltr  lang_zh-cn">
  <div class="window-wrap" dir="ltr" style="overflow:hidden;position:relative;">
    <a class="nav-skip" href="#content">跳过本内容页</a>

    
<!--[if IE]>
<div class="sr message-accessibility message" id="mathjax-accessibility-message" aria-hidden="true">
	<p class="copy">这个页面采用MathJax技术来显示数学公式。为了使数学式可用，我们建议使用MathPlayer插件。请访问<a href="//www.dessci.com/en/products/mathplayer/download.htm">MathPlayer下载页面</a> 来为你的浏览器下载插件。</p>
</div>
<div class="sr message-accessibility message" id="mathplayer-browser-message" aria-hidden="true">
	<p class="copy">
	 你的浏览器不支持MathPlayer插件。为了使用MathPlayer，请使用IE6到9兼容浏览器。
	 </p>
</div>
<![endif]-->

    












  <header class="global slim" aria-label="全局导航">
  <nav>

  <h1 class="logo">
    <a href="/">
      
  <img src="__PUBLIC__/img/logo.png" height="60" alt="Home Page" id="tsinghua-logo"/>
  <style>
  .home>header{
    background-image: url("__PUBLIC__/img/logo.png");
  }
  </style>

    </a>
  </h1>

        <h2>
            <span class="provider">课程名称:</span>
              
            {$cname}

        </h2>

    <ol class="left nav-global authenticated">
      
  <li class="nav-global-01">
    <a href="/about">关于我们</a>
  </li>
  <li class="nav-global-02">
    <a href="/courses">查找课程</a>
  </li>

    </ol>
    <ol class="user">
      <li class="primary">
        <a href="__APP__/index.php/Home/dashboard/index" class="user-link">
          <span class="avatar"></span>
          <span class="sr">控制面板:</span> {$Think.session.username}
        </a>
      </li>
      <li class="primary">
        <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">更多选择下拉列表</span> &#9662;</a>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          
          <li><a href="__APP__/index.php/Home/Index/loginout" role="menuitem">退出</a></li>
        </ul>
      </li>
    </ol>
  </nav>
</header>
<!--[if lte IE 8]>
<div class="ie-banner" aria-hidden="true"><strong>警告:</strong> 你的浏览器不能完全支持全部功能. 我们强烈建议您使用 <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a> 或 <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>.</div>
<![endif]-->
















    <div class="content-wrapper" id="content">
      



























<nav class="info wrapper-course-material">
  <div class="course-material">
        <ol class="course-tabs">
        
		  <li>
             <a href="__APP__/index.php/Home/Studyadout/syllabus">
             教学大纲
             </a>
          </li>
          <li style="background:000;">
             <a href="__APP__/index.php/Home/Courseware/ware">
                 课件
				 <span class="sr">, current location</span>
             </a>
          </li>
          <li>
             <a href="__APP__/index.php/Home/Studyadout/ppt">
             PPT
             </a>
          </li>
          <li>
             <a href="__APP__/index.php/Home/Courseinfo/info"   class="active" >
                 资料
             </a>
          </li>
		  <li>
             <a href="__APP__/index.php/Home/Studyadout/topic">
             试题检测
             </a>
          </li>
          <li>
             <a href="__APP__/index.php/Home/Discuss/discuss" >
                 讨论区
             </a>
          </li>

    </ol>
  </div>
</nav>
