<!DOCTYPE html>
<html lang="zh-cn" xmlns:wb="http://open.weibo.com/wb"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="e8WA0xc4_f57hKZBCIhOBrVMQhWVTgCLDry1AY_Ga-w">
	<meta name="keywords" content="学堂在线, MOOC，慕课，88888,, 大规模开放式在线课程, 在线学习,">
	<meta name="description" content="学堂在线是免费公开的MOOC（大规模开放在线课程）平台，是国家教育部MOOC研究中心官方合作平台，致力于通过来自国内外一流名校开设的免费网络学习课程，为公众提供系统的高等教育，让每一个中国人都有机会享受优质教育资源。通过和清华大学在线教育研究中心、以及国内外知名大学的紧密合作，学堂在线将不断增加课程的种类和丰富程度。">
	<meta name="renderer" content="webkit">
    <meta property="qc:admins" content="27433770036055416706375">
    <meta name="apple-itunes-app" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>学堂在线-最大的中文慕课(MOOC)平台</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/reset.2d73afda293e.css">
	
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/index.750c3a8f060d.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/media.14fe4c3798ee.css">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/js/html5shiv.0ce8f355891c.js"></script>
	<![endif]-->
<style type="text/css"></style><style type="text/css"></style></head>

<body class="index lang_zh-cn">


<header id="header_bootstrap" class="ng-scope">
	<div id="py_header_data" class="hide" data-ajax="/header_ajax" data-blurajax="/check_register_params" data-loginsubmit="/v2/login_ajax" data-emailregistersubmit="/v2/create_account" data-phoneregistersubmit="/create_account_with_phone" data-phonecode="/phone/validate" data-code=""></div>
	<div ng-controller="headerAjaxCtrl" class="ng-scope">
		<div class="header_top">
			<div class="header_up">
				<div class="header_up_inner cf">
					<div class="header_up_left fl cf">
						<nav class="fl">
							<ul class="cf">
								<li><a href="#" title="国外慕课·edX" target="_blank">国外慕课 · edX</a></li>
								<li><a title="MBA慕课·立课网" target="_blank">MBA慕课 · 立课网</a></li>
								<li><a title="中学生慕课·爱学堂网" target="_blank">中学生慕课 · 爱学堂网</a></li>
							</ul>
						</nav>
					</div>

					<div class="header_up_right fr">
						<div class="app_download cf fl" id="app_download">
							<ol class="ol cf">
								<li class="li_ios fl">
									<div class="li_inner_ios">
										<div class="app_alert_ios">
											<div class="ios_download"><a class="fl" href="#>前往下载页面</a></div>
											<div class="ios_ewm_hd"><img src="__PUBLIC__/js/ios_ewm.1e84ea1a056f.png"></div>
										</div>
									</div>
								</li>
								<li class="li_android fl">
									<div class="li_inner_android">
										<div class="app_alert_android">
											<div class="android_download"><a class="fl" href="#">前往下载页面</a></div>
											<div class="an_ewm_hd"><img src="__PUBLIC__/js/an_ewm.4aa88ce8cf00.png"></div>
										</div>
									</div>
								</li>
							</ol>
						</div>
						<nav class="fr">
							<ul class="cf">
                                <li><a href="/event/zhaomuapply" title="招募老师">招募老师</a></li>
                                <li><a href="/about#about_us" title="关于我们">关于我们</a><a> | </a><a href="/about#about_us_en" title="About Us">About Us</a></li>
								<li><a href="/about#contact" title="意见反馈">意见反馈</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<div class="header wrap cf">
				<div class="left fl cf">
					<h1 class="fl"><a href="__PUBLIC__/js/学堂在线-最大的中文慕课(MOOC)平台.html" title="学堂在线"><img src="__PUBLIC__/js/logo.33eba6677473.png" alt="logo" title="学堂在线"></a></h1>
					<nav class="fl">
						<ul class="cf">
							<li><a href="__APP__/index.php/Home/Courses/index" title="课程">课程</a></li>
							<li><a href="__APP__/index.php/Home/Courses/partners" title="院校">院校</a></li>
                           <li><a href="__APP__/index.php/Home/Community/index" title="广场">广场</a></li>
                            <li><a href="__APP__/index.php/Home/Cloud/index" title="学堂云">学堂云</a></li>
						</ul>
					</nav>
				</div>
				
                                <?php
                                $a =$_SESSION['uid'];
                                    if($a!=""){ 
                                     ?>
									 <div class="right fr">					
						   <ul class="cf pre_login ng-scope" ng-if="!loginAbout.login">
						   <li class="header_register fr"><a ng-click="goToRegister()" href="__APP__/index.php/Home/Index/loginout" title="退出">退 出</a></li>
							<li class="header_login_container fr cf">
								<div class="header_vendor fl">
								<a  ng-click="loginThird(&#39;/login/weibo/&#39;)" href="{$code_url}"><img src="__PUBLIC__/img/xl.png" ></a>
								<!-- <a href="" title="新浪微博">新浪微博</a> -->	
								</div>
								<div class="header_vendor fl"><a ng-click="loginThird(&#39;/login/qq/&#39;)" href="#" title="QQ"><img src="__PUBLIC__/img/qq.png" ></a></div>
								<div class="header_vendor fl"><a ng-click="loginThird(&#39;/login/weixin/&#39;)" href="#" title="微信"><img src="__PUBLIC__/img/wx.png" ></a></div>
 <div class="header_login fl"><a ng-click="goToLogin()" href="#" title="">欢迎{$Think.session.username}登陆</a></div>
                                 <?php
                                   }
                                  else{ 
                                     ?>
									 <div class="right fr">					
						   <ul class="cf pre_login ng-scope" ng-if="!loginAbout.login">
							<li class="header_register fr"><a ng-click="goToRegister()" href="__APP__/index.php/Home/Index/register" title="注册">注 册</a></li>
							<li class="header_login_container fr cf">
								<div class="header_vendor fl">
								<a  ng-click="loginThird(&#39;/login/weibo/&#39;)" href="{$code_url}"><img src="__PUBLIC__/img/xl.png" ></a>
								<!-- <a href="" title="新浪微博">新浪微博</a> -->	
								</div>
								<div class="header_vendor fl"><a ng-click="loginThird(&#39;/login/qq/&#39;)" href="#" title="QQ"><img src="__PUBLIC__/img/qq.png" ></a></div>
								<div class="header_vendor fl"><a ng-click="loginThird(&#39;/login/weixin/&#39;)" href="#" title="微信"><img src="__PUBLIC__/img/wx.png" ></a></div>
                                <div class="header_login fl" ><a ng-click="goToLogin()" href="__APP__/index.php/Home/Index/login" title="登录"><img src="__PUBLIC__/img/dl.png" ></a></div>
                                 <?php
                                 }
                                 ?> 
								

							</li>
						</ul>
				</div>
			</div>
		</div>

		<div class="mobile_header">
			<a href="__PUBLIC__/js/学堂在线-最大的中文慕课(MOOC)平台.html"><img class="logo fl" src="__PUBLIC__/js/logo.33eba6677473.png" alt="logo" title="学堂在线"></a>
			<ul class="cf fr">
				<li><a href="#" title="" target="_blank"><img src="__PUBLIC__/js/1.a0d94a6f45ad.png" alt="" title=""></a></li>
				<li><a href="#" title="课程"><img src="__PUBLIC__/js/2.1948c266bf3f.png" alt="课程" title="课程"></a></li>
				<li><a href="#" title="院校"><img src="__PUBLIC__/js/3.e32a463a04a5.png" alt="院校" title="院校"></a></li>
				<li><a href="#" title="广场"><img src="__PUBLIC__/js/4.12a66edecc8c.png" alt="广场" title="广场"></a></li>
					<li><a ng-click="goToLogin()" href="__APP__/Index/login" title="登录"><img src="__PUBLIC__/js/5.7fdc93241166.png" alt="登录" title="登录"></a></li>
			</ul>
		</div>
	</div>
</header>
